NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_S3_ENDPOINT=http://localhost:9100

POSTGRES_DB=collabill_db
POSTGRES_USER=collabill_user
POSTGRES_PASSWORD=collabill_password

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

S3_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minio_root
MINIO_ROOT_PASSWORD=minio_root_password

S3_ACCESS_KEY=minio_user
S3_SECRET_KEY=minio_user_secret
S3_BUCKET=my-buckets
S3_REGION=us-east-1

ENCRYPTION_KEY=build-placeholder-12345678901234567890123456789012

NEXT_IMAGE=ghcr.io/zanaroot/znr-collabill:latest

BREVO_API_KEY=
MAIL_FROM=
