# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/collabill_db

# For sending emails (e.g., password reset, invitations)
# You can use a service like Brevo, SendGrid, or Resend
BREVO_API_KEY=""
MAIL_FROM="Collabill <noreply@yourdomain.com>"

# A secret for securing the cron job endpoint that closes stale iterations.
# Generate a secure random string (e.g., `openssl rand -hex 32`)
CRON_SECRET=""
